@import "tailwindcss";

body {
  font-family: "Roboto", "Figtree", "DM Sans";
}

@layer base {
  body {
    @apply text-stone-200 bg-zinc-900;
  }

  button {
    @apply transition-colors ease-in hover:cursor-pointer disabled:cursor-default;
  }
}

@layer components {
  .content-wrapper {
    @apply px-[2vw] sm:px-[3vw] lg:px-[5vw];
  }

  .catalog-container {
    @apply mx-[4vw] sm:mx-[6vw] md:mx-[8vw] lg:mx-[10vw] xl:mx-[12vw] 2xl:mx-[15vw] my-10;
  }

  .catalog {
    @apply grid gap-14 grid-flow-row xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2;
  }

  .movie-card {
    @apply bg-slate-800 max-w-[min(80vw,220px)] sm:max-w-60 lg:max-w-76 w-auto m-auto rounded-2xl text-stone-100 transition-all duration-400 hover:scale-102 md:hover:scale-103 lg:hover:scale-106;

    & img {
      @apply rounded-t-2xl h-auto w-full;
    }

    & .card-text-wrapper {
      @apply px-3.5 sm:px-4 xl:px-5 mt-3 xl:mt-4 mb-3 md:mb-3.5;
    }

    & .card-title {
      @apply text-white line-clamp-1 tracking-wide font-bold text-base lg:text-[1.05rem];
    }

    & .card-info {
      @apply mt-1.5 lg:mt-2 flex flex-row items-center flex-wrap gap-1.5 lg:gap-2 text-[.9rem] lg:text-base;
    }

    & .rating {
      @apply flex gap-1 items-center;
    }

    & .rating p {
      @apply font-bold;
    }

    & .secondary {
      @apply text-stone-300 text-xs sm:text-[.82rem] lg:text-[.9rem];
    }
  }

  .movie-list {
    @apply flex overflow-y-visible overflow-x-hidden w-full whitespace-nowrap gap-3 md:gap-3.5 lg:gap-5 py-3 md:py-4 xl:py-5 px-3;

    & li {
      @apply h-auto min-w-[120px] sm:min-w-[140px] md:min-w-[170px] lg:min-w-[190px] max-w-[220px] w-full;
    }

    & .movie-card {
      & .card-text-wrapper {
        @apply px-2.5 md:px-3 lg:px-4 mt-2 md:mt-3 xl:mt-4 mb-2 sm:mb-2.5 md:mb-3.5;
      }

      & .card-title {
        @apply text-white line-clamp-1 lg:tracking-wide font-semibold md:font-bold text-[.8rem] sm:text-[.85rem] md:text-[.9rem] lg:text-base;
      }

      & .card-info {
        @apply mt-1 md:mt-1.5 lg:mt-2 flex flex-row items-center flex-wrap gap-1 sm:gap-1.5 lg:gap-2 text-xs sm:text-[.84rem] md:text-[.88rem] lg:text-base;
      }

      & .rating {
        @apply flex gap-0.5 md:gap-1 items-center;
      }
    }
  }

  .movie-info-container {
    @apply flex flex-col items-center justify-center xl:flex-row xl:items-stretch;

    & img {
      @apply max-h-[250px] sm:max-h-[350px] md:max-h-[400px] lg:max-h-[450px] xl:max-h-[500px] rounded-sm;
    }

    & .text-container {
      @apply w-full mx-20 max-w-136 flex flex-col justify-between;
    }

    & .movie-name {
      @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl text-center text-stone-100 font-semibold tracking-wide mb-4 sm:mb-6 lg:mb-8 xl:my-0;
    }

    & .tagline {
      @apply text-center font-medium mt-2 text-[1rem] text-stone-200 mb-5 md:mb-8 lg:mb-10 xl:mb-0 text-base sm:text-lg md:text-xl;
    }

    & .additional-info {
      @apply flex gap-6 justify-center mb-8 xl:mb-0 flex-wrap;
    }

    & .additional-info p {
      @apply text-sm md:text-[.9rem] font-medium text-stone-200;
    }
  }

  .section-title {
    @apply text-lg text-center md:text-left sm:text-xl md:text-2xl lg:text-3xl font-semibold text-stone-100;
  }

  .small-text {
    @apply text-stone-300 mt-4 text-xs md:text-sm;
  }

  .regular-text {
    @apply text-stone-200 font-normal text-sm sm:text-[.94rem] md:text-base mt-4;
  }

  .hightlighted-text {
    @apply text-stone-100 font-medium;
  }

  .login-text {
    @apply text-stone-300 font-medium tracking-wide text-xl;
  }
}